.Info {
  color: white;
  text-align: center;
  font-size: 18px;
}

.button {
  background-image: linear-gradient(
    to right,
    #1d2b64 0%,
    #f8cdda 51%,
    #1d2b64 100%
  );
}
.button {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  font-weight: bolder;
  color: rgb(17, 7, 7);
  border-radius: 10px;
  display: block;
  font-family: "Ubuntu", sans-serif;
}

.button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 1130px) {
  .Info {
    font-size: 15px;
  }
  .button {
    padding: 15px 35px;
  }
}

@media screen and (max-width: 1060px) {
  .Info {
    font-size: 12px;
  }
  .button {
    padding: 15px 30px;
  }
}

@media screen and (max-width: 995px) {
  .Info {
    font-size: 10px;
  }
  .button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 700px) {
  .Info {
    font-size: 8px;
  }
  .button {
    padding: 15px 20px;
  }
}

@media screen and (max-width: 550px) {
  .Info {
    font-size: 6px;
  }
  .button {
    font-size: 15px;
    padding: 13px 15px;
  }
}

@media screen and (max-width: 450px) {
  .Info {
    font-size: 5px;
  }
  .button {
    font-size: 10px;
    padding: 10px 10px;
  }
}
